</main>
<footer>
    <p>&copy; <%= new Date().getFullYear() %> Prathamesh Ambekar. All rights reserved.</p>
</footer>

<!-- ES Module Scripts for Three.js and GSAP -->
<script src="/scripts/gsap/gsap.min.js"></script>
<script src="/scripts/gsap/ScrollTrigger.js"></script>
<script type="module" src="/js/scene.js"></script>
<script type="module" src="/js/animations.js"></script>
<script src="/js/main.js"></script>
</body>

</html>