<%- include("partials/header") %>

    <h2>Projects</h2>

    <div class="projects-wrapper" style="padding: 2rem 0;">
        <!-- Project 1 -->
        <div class="project-card">
            <div class="project-info">
                <div class="project-title">
                    Real-Time Chat Application
                </div>
                <p class="project-desc">
                    Developed a real-time messaging application with authentication and searchable chats.
                </p>
                <div class="tech-stack">
                    <span class="tech-pill">React.js</span>
                    <span class="tech-pill">Firebase</span>
                    <span class="tech-pill">Cloudinary</span>
                </div>
                <div class="project-links">
                    <a href="https://github.com/PrathameshAmbekar15/chatapp" class="btn-project"
                        target="_blank">Code</a>
                </div>
            </div>
        </div>

        <!-- Project 2 -->
        <div class="project-card">
            <div class="project-info">
                <div class="project-title">
                    Notes Management System
                </div>
                <p class="project-desc">
                    Built a responsive notes management web application with CRUD functionality using PHP/MySQL.
                </p>
                <div class="tech-stack">
                    <span class="tech-pill">PHP</span>
                    <span class="tech-pill">MySQL</span>
                    <span class="tech-pill">JS</span>
                </div>
                <div class="project-links">
                    <a href="https://github.com/PrathameshAmbekar15/Notes_Management_System" class="btn-project"
                        target="_blank">Code</a>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer") %>